# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
Thumbs.db

# tauri
src-tauri/target/
src-tauri/binaries/
src-tauri/resources/server/
src-tauri/gen/
Setup.md
MANUAL_RELEASE.md
latest.json
*.sig
*.key

